.body{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    width: 65%;
    min-height: 70%;
    background: #202124;
    justify-content: space-evenly;
    border-radius: 9px;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
    font-family: sans-serif;
}

.info{
    font-family: sans-serif;
    margin: auto;
}